<p id="notice"><%= notice %></p>

<p>
  <strong>Min:</strong>
  <%= @error.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @error.max %>
</p>

<p>
  <strong>Time:</strong>
  <%= @error.time %>
</p>

<p>
  <strong>Exps:</strong>
  <%= @error.exps %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @error.machine %>
</p>

<p>
  <strong>Line:</strong>
  <%= @error.line %>
</p>

<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
